# Dependencies
node_modules/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
build/

# Environment variables
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Expo
.expo/
dist/
web-build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs/
*.log